Задание 1. Связаные списки

In [2]:
class Node(object):
    def __init__(self, value=None, next_=None):
        self.value = value
        self.next = next_

    def __str__(self):
        return f"[Value of this Node is {self.value}]"


def print_linked_list(head):
    current = head
    while current is not None:
        print(current)
        current = current.next
        
def reverse_linked_list(head, tail=None):
    while head is not None:
        head.next, tail, head = tail, head, head.next
    return tail
    

h, a, b, c, d, t = Node(1), Node(2), Node(3), Node(4), Node("Hello"), Node(5)

h.next = a
a.next = b
b.next = c
c.next = d
d.next = t

print_linked_list(h)
h = reverse_linked_list(h)
print("---")
print_linked_list(h)

[Value of this Node is 1]
[Value of this Node is 2]
[Value of this Node is 3]
[Value of this Node is 4]
[Value of this Node is Hello]
[Value of this Node is 5]
---
[Value of this Node is 5]
[Value of this Node is Hello]
[Value of this Node is 4]
[Value of this Node is 3]
[Value of this Node is 2]
[Value of this Node is 1]

Задание 2. Сортировка пузырьком

In [7]:
class Node(object):
    def __init__(self, value=None, next_=None):
        self.value = value
        self.next = next_

    def __str__(self):
        return f"[Value of this Node is {self.value}]"


def print_linked_list(head):
    current = head
    while current is not None:
        print(current)
        current = current.next
        
h, a, b, c, d, e = Node(10), Node(3), Node(11), Node(5), Node(-2), Node(0)

h.next = a
a.next = b
b.next = c
c.next = d
d.next = e

print_linked_list(h)
print('------')

def sort_linked_list(head):
    tail = None
    while tail != head:
        i = head
        while i.next != tail:
            j = i.next
            if i.value > j.value:
                i.value, j.value = j.value, i.value
            i = i.next
        tail = i

sort_linked_list(h)
print_linked_list(h)

[Value of this Node is 10]
[Value of this Node is 3]
[Value of this Node is 11]
[Value of this Node is 5]
[Value of this Node is -2]
[Value of this Node is 0]
------
[Value of this Node is -2]
[Value of this Node is 0]
[Value of this Node is 3]
[Value of this Node is 5]
[Value of this Node is 10]
[Value of this Node is 11]

Задания Pandas
1. Средний полный счёт по пятницам на ланч у курящих мужчин

In [16]:
import pandas as pd
df = pd.read_csv("C:\\Users\\yuliya.tetereva\\python\\tips.csv")
masque = df["sex"] == "Male"
masque &= df["day"] == "Fri"
masque &= df["smoker"] == "Yes"
masque &= df["time"] == "Lunch"
print(f'Cреднее значение полного счета ровно {df[masque]["total_bill"].mean()}')

Cреднее значение полного счета ровно 11.386666666666668

In [ ]:
2. Разбросы по всем числовым значениям для всех трёх классов цветов

In [13]:
import pandas as pd
df = pd.read_csv("C:\\Users\\yuliya.tetereva\\python\\iris.csv")
masque_1 = df["Name"] == "Iris-setosa"
masque_2 = df["Name"] == "Iris-versicolor"
masque_3 = df["Name"] == "Iris-virginica"
print('Числовые значение по классу Iris-setosa варьируются от минимального значения:\n\n', df[masque_1].min(), 
      '\n\nдо максимального:\n\n', df[masque_1].max(), '\n-----------------------\n')
print('Числовые значение по классу Iris-versicolor варьируются от минимального значения:\n\n', df[masque_2].min(), 
      '\n\nдо максимального:\n\n', df[masque_2].max(), '\n-----------------------\n')
print('Числовые значение по классу Iris-virginica варьируются от минимального значения:\n\n', df[masque_3].min(), 
      '\n\nдо максимального:\n\n', df[masque_3].max())

Числовые значение по классу Iris-setosa варьируются от минимального значения:

 SepalLength            4.3
SepalWidth             2.3
PetalLength            1.0
PetalWidth             0.1
Name           Iris-setosa
dtype: object

до максимального:

 SepalLength            5.8
SepalWidth             4.4
PetalLength            1.9
PetalWidth             0.6
Name           Iris-setosa
dtype: object
-----------------------

Числовые значение по классу Iris-versicolor варьируются от минимального значения:

 SepalLength                4.9
SepalWidth                 2.0
PetalLength                3.0
PetalWidth                 1.0
Name           Iris-versicolor
dtype: object

до максимального:

 SepalLength                7.0
SepalWidth                 3.4
PetalLength                5.1
PetalWidth                 1.8
Name           Iris-versicolor
dtype: object
-----------------------

Числовые значение по классу Iris-virginica варьируются от минимального значения:

 SepalLength               4.9
SepalWidth                2.2
PetalLength               4.5
PetalWidth                1.4
Name           Iris-virginica
dtype: object

до максимального:

 SepalLength               7.9
SepalWidth                3.8
PetalLength               6.9
PetalWidth                2.5
Name           Iris-virginica
dtype: object

In [ ]:
3. Плотность населения

In [18]:
import pandas as pd
df = pd.DataFrame({
     'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
     'population': [17.04, 143.5, 9.5, 45.5],
     'square': [2724902, 17125191, 207600, 603628]
 })
df['Density'] = df.population/df.square
df.rename(columns={'country': 'Страна', 'square': 'Площадь'}, inplace=True)
df

       Страна  population   Площадь   Density
0  Kazakhstan       17.04   2724902  0.000006
1      Russia      143.50  17125191  0.000008
2     Belarus        9.50    207600  0.000046
3     Ukraine       45.50    603628  0.000075